* {
  box-sizing: border-box;
}
body {
  background: #000;
}
.button {
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: block;
  float: left;
  margin: 1em 1%;
  padding: 1em 0;
  width: 30%;
  text-align: center;
  -webkit-transition: text-shadow ease-in 150ms, color ease-in 150ms, background ease-in 300ms;
  -moz-transition: text-shadow ease-in 150ms, color ease-in 150ms, background ease-in 300ms;
  -ms-transition: text-shadow ease-in 150ms, color ease-in 150ms, background ease-in 300ms;
  -o-transition: text-shadow ease-in 150ms, color ease-in 150ms, background ease-in 300ms;
  transition: text-shadow ease-in 150ms, color ease-in 150ms, background ease-in 300ms;
}
.button:hover {
  background: #111;
  color: #FFF;
  text-shadow: 0 0 10px #FFF;
}
.button:active {
  background: #999;
  color: #000;
}
/*.disabled {
  opacity: .1;
  pointer-events: none;
}*/
.row {
  clear: both;
  max-width: 500px;
  margin: 0 auto;
}
#feedback {
  color: #fff;
  font-family: 'Nixie One', cursive;
  font-size: 2em;
  height: 65px;
  line-height: 2em;
  text-align: center;
}
  #feedback p {
    margin: 0;
  }
input {
  background: #000;
  border: none;
  border-bottom: 5px solid #fff;
  color: #fff;
  font-family: 'Nixie One', cursive;
  font-size: 1em;
  outline: none;
  text-align: center;
  -webkit-transition: border ease-in 300ms;
  -moz-transition: border ease-in 300ms;
  -ms-transition: border ease-in 300ms;
  -o-transition: border ease-in 300ms;
  transition: border ease-in 300ms;
}
