Package: com.nito.airmagic
Name: AirMagic
Version: 0.0.1
Architecture: appletvos-arm64
Description: A powerful webserver that accepts commands to control on screen navigation and text entry
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
