Package: com.nito.airmagic
Name: AirMagic
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap
Version: 0.0.1
Architecture: iphoneos-arm
Description: A powerful webserver that accepts commands to control on screen navigation and text entry
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Tweaks
